$bgGrey: #f1f1ec;

$lightGrey: #e6e3e1;
$mediumGrey: #b8b8b8;
$darkGrey: #5f5c66;

$lightOrange: #f0a959;
$orange: #f53d12;

$lightGreen: #a5bb77;
$green: #799b28;

$lightBlue: #5f5c66;
$blue: #151633;

$borderRadius : 4px;

$contentWidth: 960px;
$maxContentWidth: 960px;
$maxWidth: 1250px;

@mixin serif($size) {
	font-family: "chaparral-pro", georgia, serif;
	font-size: $size;
	line-height:$size *1.25;
	letter-spacing: 1px;
}

@mixin serif-italic($size) {
	font-family: "chaparral-pro", georgia, serif;
	font-size: $size;
	line-height:$size *1.25;
	font-style: italic;
	font-weight: 600;
}

@mixin sans-serif($size) {
	font-family: "pragmatica-web", helvetica, arial, sans-serif;
	font-weight: 600;
	font-size: $size;
	line-height:$size;
}

@mixin border($color) {
	border:1px solid $color;

	@include border-radius($borderRadius);
}

@mixin block-button() {
	display: inline-block;
	padding: 16px;
	min-width: 100px;
	font-size:18px;
	text-align: center;
	color:$lightGrey;
	position:relative;
	@include sans-serif(18px);
	@include border-radius($borderRadius);

}