html, body {
	height:100%;
}

body {
	border:0;
	margin:0;
	padding:0;
	color: $mediumGrey;
	background: $bgGrey url('/images/bg.png');
//	@include border-radius($borderRadius);
}

h1 {
	margin:0;
}



.clear {
	clear:both;
}

.hidden {
	display: none;
}

.none {
	color:inherit;
	font-size:inherit;
	&:hover {
		color:inherit;
	}
}
.spacer {
	display: inline-block;
}

a {
	text-decoration: none;
	color: $mediumGrey;

	&:hover {
		color: $green;
	}
}

.back-button {
	@include block-button();
	background: $mediumGrey;

	&:hover {
		background: $lightGreen;
	}
}
.create-button,
.next-button {
	@include block-button();

	background: $green;

	&:hover {
		background: $lightGreen;
	}
}

.outline-button {
	@include block-button();
	background: none;
	border:1px solid $lightGrey;
	color: $mediumGrey;
	@include serif-italic(18px);
}

.outline-button:hover {
	border-color:$green;
}

ul, li {
	margin:0;
	padding:0;
	list-style-type: none;
}

input[type="text"],
input[type="email"]
 {
	border: 0;
	background: transparent url('/images/dot.png') repeat-x bottom;
	text-align: center;
	@include sans-serif(36px);
	width: 460px;
	color:$darkGrey;
	&:focus {
		color:#000;
		outline:none;

	}
}

#loadBlocker {
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:#eee;
	z-index:1000000;

	@include sans-serif(76px);


}
.blockerContent {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-36px;
	margin-left: -150px;
}

.blocker {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1000000;
	background:#eee;
}

.edit-text {
	border: 1px dashed #fff;
	border-radius: $borderRadius;
}

#modal {
	display:none;
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:10000000;
	text-align: center;

}

#modalContent {
	background: #f5f5f0;
	box-shadow: 0 1px 1px 0px #999;
	display: inline-block;
	color: $darkGrey;
	@include serif-italic(28px);
}

#cls {
	display:none;
}


#map {
	width:800px;
	height:200px;
}

.contentWrapper {
	max-width: $maxContentWidth;
	position: relative;
	margin: 0 auto;
}

.home-wrapper {
	max-width: $maxContentWidth;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 850px;
	height: 650px;

	.trip-title {
		color: $darkGrey;
		@include sans-serif(46px);
	}

	.trip-subtitle {
		color: $darkGrey;
		@include serif-italic(16px);
	}

	.email {
		color: $mediumGrey;
		@include sans-serif(14px);
	}
}
.info-header {
	width: 850px;
	text-align: left;
	margin-top:96px;
}

.home-page {
	width: 850px;
	position:absolute;
	text-align:center;
	left:0px;

	@include transition-property(left);
  	@include transition-duration(0.5s);
}


.lost-link {
	@include serif-italic(18px);
	padding-top:40px;
}

.error {
	border: 1px solid #ff0000 !important;
}

.page-left {
	left: -850px;
}
.page-current {
	left: 0px;
}
.page-right {
	left: 850px;
}

.editTextInput {
	border:none;

}

input.editTextInput {
	
	border: 0;
	background: transparent url('/images/dot.png') repeat-x bottom;
	text-align: left;
	@include sans-serif(36px);
	height: 36px;
	width: 460px;
	color:$darkGrey;
	padding:27px;

}

.page-header,
.start-header,.about-header {
	width:100%;
	max-width: $maxWidth;
	margin:0 auto;
	text-align: center;
	margin-top:132px;

	.site-title {
		@include sans-serif(76px);
		color: $darkGrey;
		margin-bottom:12px;
	}
	.site-title a:hover {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
	.site-subtitle {
		@include serif-italic(23px);
		color: $mediumGrey;
	}

	a {
		color: inherit;

		&:hover {
			color: $green;
		}
	}

}

.page-header {
	margin-top:50px;
}

.home-form {
	text-align: center;


	label {
		color:$darkGrey;
		@include serif-italic(36px);
		margin-top:15px;
		display:inline-block;
	}

	#txtTripName {
		width:550px;
	}

	#txtEmail {
		width:550px;
	}

	#txtLocation {
		width:550px;
	}
}

.content {
	max-width:$maxContentWidth;
	margin: 0 auto;
}

.pac-container {
	@include sans-serif(20px);
	border:0;
	padding:5px;
	z-index: 10000000 !important;
}
.pac-item {
	padding: 10px 0;
}



.page-content {
	color:$darkGrey;
	@include serif(18px);
	margin:70px auto;

	h2 {
		margin-top:34px;
	}
}

.about-page {
	max-width:800px;
	@include serif(18x);
	letter-spacing:0px;
	font-weight:600;
}

.edit-mode.edit-off {
	display: none !important;
}

.list-wrapper {

	header {

		width:100%;

		.header-content {
			max-width: $maxContentWidth;
			margin:0 auto;
			padding: 25px 0 17px;
			position:relative;
		}


		.header-titles {
			width:660px;
			float:left;
			position:relative;
		}
		
		.header-tools {
			padding-top:41px;
		}

		&.edit-on {
			background: $darkGrey;

			z-index: 1000000;
			top:0;

			.edit-trip-link,
			.share-trip-link,
			.spacer1 {
				display: none;
			}

			.trip-title,
			.trip-subtitle {
				color:$bgGrey;
			}
		}
	}

	.trip-title {
		color: $darkGrey;
		display: inline-block;
		@include sans-serif(66px);
		letter-spacing:-3px;    
		padding-right: 3px;
	}

	.trip-subtitle {
		color: $blue;
		display: block;
		@include serif-italic(18px);

	}

	.share-trip-link {
		color: $darkGrey;
		@include serif-italic(18px);
		display:inline-block;
		background:$lightGrey;
		@include border($lightGrey);
		padding: 7px 10px 6px;
		text-align: center;
		text-decoration: none;
		float:right;

		img {
			vertical-align: top;
			padding-right:5px;
		}


		&:hover {
			background:$mediumGrey;
		}
	}

	.edit-trip-link {

		@include regular-button();
		float:right;

		img {
			vertical-align: top;
			padding:2px 5px 0 0;
		}


		&:hover {
			background:$mediumGrey;
		}
	}

	.edit-done-button{

		float:right;

		@include thin-button();
		background:$green;

		&:hover {
			background: $lightGreen;

		}
	}

}

.trip-settings {
	display:hidden;
	background: $lightGrey url('/images/top-inner-shadow.png') repeat-x top;
	height:0;

	.settings-button {
    	background-image: url('/images/gear-button.png');
	}
}


.notice-container {
	width:100%;
	position:absolute;
	min-height:50px;
	overflow:hidden;
	display:none;
	z-index: 100;

	.notice {
		background: #fff;
		position:relative;
		max-width: $maxWidth;
		margin:0 auto;
		top: 0;
		padding:15px 0;

		@include transition(top 0.5s ease-in);

		.notice-text {
			@include serif-italic(24px);
		}
	}

	.up {
		top:-50px;
		@include transition(none);
	}

	.down {
		top:50px;
		@include transition(top 0.25s ease-in);
	}


}

.fixed {
	position:fixed;
	top:0;
}

.sprite-button {
	cursor:pointer;
	background-position:left;
	display:inline-block;
	&:hover {
    	background-position:right;
    }
}

.x-button {
	color: #FF0000;
    position: absolute;
    right: 5px;
    top: 15px;
    width:17px;
    height:16px;
    overflow:hidden;
    background-image: url('/images/x-button.png');
}

#map {
	width:100%;
	height:395px;
	max-width: 100%;
	margin:0 auto;

	&.edit-on {
		margin-top: 0px;
	}
}

.mapContainer {
	
	.drop-shadow {
		postition:absolute;
		
	}
	.stripe {
		position:absolute;
	}
	
		
}

.drop-shadow {
	-moz-box-shadow:inset 0px 2px 2px 0px rgba(95, 92, 102, 0.40);
	-webkit-box-shadow:inset 0px 2px 2px 0px rgba(95, 92, 102, 0.40);
	box-shadow:inset 0px 2px 2px 0px rgba(95, 92, 102, 0.40);
	height:2px;
	width:100%;
	display:block;
	z-index:98;
}

.stripe {
	background: url('/images/stripe.png') repeat-x;
	height:11px;
	width:100%;
	display:block;
	z-index: 99;
}
#locations {

	.location {
		padding-bottom:33px;
		margin-top: 25px;
		/*border-bottom: 1px solid $mediumGrey;*/
		position:relative;

		.location-name {
			color:$darkGrey;
			@include sans-serif(36px);
		}

		.location-notes {
			min-height: 20px;
		}

		.delete-location-link {
			color: #ff0000;
			position:absolute;
			top:15px;
			right:0;
		}
	}

	.reorder-location {

		width:16px;
		position:absolute;
		top:4px;
		left:-25px;
    	line-height: 0;

		.location-down,
		.location-up {
			height:8px;
			width:16px;
		}
		.location-up {
			background-image: url('/images/order-up-arrow.png');
			margin-bottom:10px;
		}
		.location-down{
			background-image: url('/images/order-down-arrow.png');
		}

	}

	.notes-wrapper {
		margin: 0;
		/*min-height:44px;*/
	}

	.notes-hidden {
		@include serif-italic(24px);
		color:$darkGrey;
		display:none;
		position: relative;
		top:-3px;
		padding-left:5px;

		.icon {
			padding-left: 10px;
			position: relative;
			top: -5px;
		}
	}

}

.sticky-location {
	@include transition(top 0.5s ease-in);
	position: fixed;
	z-index: 1000;
	background: $bgGrey;
	display:block;
	width:100%;
	padding:10px 0;
	top: -100px;
	border-bottom:1px solid $lightGrey;
	-webkit-transform: translateZ(0);
	.location-name {
		color:$darkGrey;
		@include sans-serif(36px);
		display:block;
		width:960px;
		margin: 0 auto;
	}
}

.note-category {
	width:25px;
	background-image: url('/images/category-icons.png');
	background-position: 100px;
	background-repeat: no-repeat;
	overflow:hidden;
	vertical-align: top;

	display:block;
	height:28px;

	&.poi {
		background-position:0;
	}

	&.food {
		background-position: -25px;
	}

	&.stay {
		background-position: -50px;
	}
}

.note {

	font-size:30px;
	margin: 22px 0;
	position:relative;



	.note-text-wrapper {
		vertical-align: top;
		padding-left:8px;
	}

	.note-text {
		@include serif-italic(30px);
		color:$blue;

		a {
			font-size:inherit;
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;

			&:hover {
				color: $lightBlue;
			}
		}
	}

	.note-from {
		@include serif-italic(18px);
		color:$blue;
	}

	.note-link {

		@include sans-serif(18px);

		td {
			vertical-align: middle;
		}

		.link-info {
			padding-left:16px;
		}

		.link-image {
			border:1px solid $blue;
			max-width:170px;
		}

		.link-title {
			display:inline-block;
		}
		.link-description {
			@include serif-italic(18px);
			font-weight: normal;
			display:inline-block;
			margin-top:5px;
		}
	}

	.note-delete {
		position:absolute;
		top:0;
		right:0;

		a {
			color:#ff0000;
		}
	}

}

a.add-location-link {

	@include sans-serif(14px);

	display:block;
	padding: 20px 0 18px;
	text-transform:uppercase;
	width: 300px;
	margin: 20px auto;
	text-align: center;
	color: #000;
	background:#fff;

	@include border($green);

	&:hover {
		color:$mediumGrey;
		text-decoration: none;
	}
}

.add-note {

	padding: 0 40px;

	.note-editor {
		position: relative;

	}
	.note-text-wrapper {
		text-align: center;
	}

	.txtNoteText {
		@include sans-serif(20px);
		width:100%;
		padding:0 10px;
		color:$lightGrey;

		&:focus {
			color:#000;
		}

		&.editing {
			color:#000;
		}

	}

	.note-from-wrapper {

		width:250px;
		display:inline-block;
		margin-right:24px;
		text-align:center;
	}
	.txtFromName {
		@include sans-serif(20px);
		width: auto;
		margin-top:10px;
	}

	.note-submit-wrapper {

		display:inline-block;
		vertical-align: top;
		position:relative;
		top: -2px;
	}

	label {
		@include serif-italic(18px);
		color:$green;
		margin:12px 0 24px;
		display:block;

		strong {
			font-weight:600;
		}
	}

	.note-text {
		@include serif-italic(30px);
		color:$blue;
	}


	.submit-note-link {
		display:inline-block;
		background:$green;
		@include border($green);
		@include sans-serif(14px);
		text-transform: uppercase;
		padding: 14px 10px 12px;
		text-align: center;
		text-decoration: none;
		color: $lightGrey;
		letter-spacing: 1px;

		&:hover {
			background:$lightGreen;
		}
	}

	.cancel-note-link {
		color: $orange;
		@include sans-serif(14px);
		text-transform: uppercase;
		padding-left:20px;
		letter-spacing: 1px;

		&:hover {
			color: $lightOrange;
		}
	}

	.note-editor-bottom {
		position:relative;
		margin-top:24px;
	}

	.category-wrapper {
	}
	.category-selector {
		position:absolute;
		left:-105px;
		top: -5px;
	}

	.category-label {
		font-size: 18px;
	    font-weight: bold;
	    padding-right: 6px;
	    position: relative;
	    top: -22px;
	}
}


.bottomnewnotes {
	text-align: center;
	padding-top: 50px;
}

.location-footer {
	position:fixed;
	bottom:0;
	z-index:1000;
	left:0;
	text-align: center;
	width:100%;
	background:#ccc;
	padding:10px 0;

	.add-location-button{

		@include thin-button();
		background:$green;

		&:hover {
			background: $lightGreen;

		}
	}
}

.bottom-pad {
	height:50px;
}

.footer {
	text-align: center;
	@include sans-serif(14px);
	padding: 20px 0 20px 0;

	.spacer {
		display: inline-block;
		width:55px;
	}
	.aboutlink{
		margin-left:50px;
	}
}

#modalUnder {
	position:absolute;
	background:url('/images/f5f5f0_70.png');
	height: 100%;
	width:100%;
	top:0;
	left:0;
	z-index:0;
}

#modalContent {

	top:50%;
	left:50%;
	position:absolute;
	z-index:1;

	&.email-modal {
		text-align:center; 
		width:620px; 
		min-height:335px;
		margin-top: -167px;
		margin-left: -310px;

		label {
			font-size: 18px;
		}

		input[type="checkbox"]{

		}

		#oopsLink {
			color:$orange;
			font-size:18px;
			line-height: 55px;

			left: 0;
    		position: absolute;

			&:hover {
				color:$orange;
				text-decoration: underline;
			}
		}

		#emailAdmin {
			font-style: normal;
		    position: absolute;
		    right: 0;
		    font-size: 24px;
		    letter-spacing: -0.5px;

		}
	}

	&.share-modal {
		text-align:center; 
		width:620px; 
		min-height:335px;
		margin-top: -167px;
		margin-left: -310px;

		.text-box {
			color:#000;
			background:$lightGrey;
			border: 1px solid $mediumGrey;
			width:500px;
			display:block;
			margin: 0 auto 40px;
			font-size: 22px;
		}

		.stripe {
			
		}
	}

	&.location-modal {
		text-align:center; 
		width:620px; 
		min-height:335px;
		margin-top: -167px;
		margin-left: -310px;

		.submit-location-link {
			@include block-button();
			background:$green;
			text-transform: uppercase;
			&:hover {
				background:$lightGreen;
			}
		}

		.cancel-link {
			color: $orange;
			@include sans-serif(14px);
			text-transform: uppercase;
			padding-left:20px;
			letter-spacing: 1px;
			line-height:55px;

			position:absolute;
			right:80px;

			&:hover {
				color: $lightOrange;
			}
		}
	}
}