html, body {
	height:100%;
}

body {
	border:0;
	margin:0;
	padding:0;
	color: $mediumGrey;
	background: $bgGrey url('/images/bg.png');
//	@include border-radius($borderRadius);
}

h1 {
	margin:0;
}



.clear {
	clear:both;
}

.hidden {
	display: none;
}

.none {
	color:inherit;
	font-size:inherit;
	&:hover {
		color:inherit;
	}
}

a {
	text-decoration: none;
	color: $mediumGrey;

	&:hover {
		color: $green;
	}
}

.back-button {
	@include block-button();
	background: $mediumGrey;

	&:hover {
		background: $lightGreen;
	}
}
.create-button,
.next-button {
	@include block-button();

	background: $green;

	&:hover {
		background: $lightGreen;
	}
}

ul, li {
	margin:0;
	padding:0;
	list-style-type: none;
}

input {
	border: 0;
	background: transparent url('/images/dot.png') repeat-x bottom;
	text-align: center;
	@include sans-serif(36px);
	height: 36px;
	width: 460px;
	color:$darkGrey;
	padding:6px;
}

input:focus {
	color:#000;
	outline:none;
}


#loadBlocker {
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:#eee;
	z-index:1000000;

	@include sans-serif(76px);


}
.blockerContent {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-36px;
	margin-left: -150px;
}

.blocker {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1000000;
	background:#eee;
}

#modal {
	display:none;
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:url('/images/f5f5f0_70.png');
	z-index:10000000;
	text-align: center;

}

#modalContent {
	background: #f5f5f0;
	box-shadow: 0 1px 1px 0px #999;
	display: inline-block;

}

#cls {
	display:none;
}

.add-location-button{

		color: $lightGrey;
		@include serif-italic(18px);
		display:inline-block;
		background:$darkGrey;
		@include border($darkGrey);

		padding: 7px 10px 6px;
		text-align: center;
		text-decoration: none;

		position:absolute;
		right:130px;
		bottom:47px;

	&:hover {
		background: $mediumGrey;

	}
}

.edit-done-button {

	color: $lightGrey;
		@include serif-italic(18px);
		display:inline-block;
		background:$darkGrey;
		@include border($darkGrey);

		padding: 7px 10px 6px;
		text-align: center;
		text-decoration: none;

		position:absolute;
		right:0;
		bottom:47px;

	&:hover {
		background: $mediumGrey;

	}
}

#map {
	width:800px;
	height:200px;
}

.contentWrapper {
	max-width: $maxContentWidth;
	position: relative;
	margin: 0 auto;
}

.home-wrapper {
	max-width: $maxContentWidth;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 850px;
	height: 650px;

	.trip-title {
		color: $darkGrey;
		@include sans-serif(46px);
	}

	.trip-subtitle {
		color: $darkGrey;
		@include serif-italic(16px);
	}

	.email {
		color: $mediumGrey;
		@include sans-serif(14px);
	}
}
.info-header {
	width: 850px;
	text-align: left;
	margin-top:96px;
}

.home-page {
	width: 850px;
	position:absolute;
	text-align:center;
	left:0px;

	@include transition-property(left);
  	@include transition-duration(0.5s);
}


.lost-link {
	@include serif-italic(18px);
}

.error {
	border: 1px solid #ff0000;
}

.page-left {
	left: -850px;
}
.page-current {
	left: 0px;
}
.page-right {
	left: 850px;
}

.editTextInput {
	border:none;

}

.page-header,
.start-header,.about-header {
	width:100%;
	max-width: $maxWidth;
	margin:0 auto;
	text-align: center;
	margin-top:132px;

	.site-title {
		@include sans-serif(76px);
		color: $darkGrey;
		margin-bottom:12px;
	}
	.site-subtitle {
		@include serif-italic(23px);
		color: $mediumGrey;
	}

	a {
		color: inherit;

		&:hover {
			color: $green;
		}
	}

}

.page-header {
	margin-top:50px;
}

.home-form {
	text-align: center;


	label {
		color:$darkGrey;
		@include serif-italic(36px);
		margin-top:15px;
		display:inline-block;
	}

	#txtTripName {
		width:550px;
	}

	#txtEmail {
		width:550px;
	}

	#txtLocation {
		width:700px;
	}
}

.content {
	max-width:$maxContentWidth;
	margin: 0 auto;
}

.pac-container {
	@include sans-serif(20px);
	border:0;
	padding:5px;
	z-index: 10000000 !important;
}
.pac-item {
	padding: 10px 0;
}



.page-content {
	color:$darkGrey;
	@include serif(18px);
	margin:70px auto;

	h2 {
		margin-top:34px;
	}
}

.about-page {
	max-width:800px;
	@include serif-italic(24px);
}

.edit-mode.edit-off {
	display: none !important;
}

.list-wrapper {

	header {

		width:100%;

		.header-content {
			max-width: $maxContentWidth;
			margin:0 auto;
			padding: 35px 0 70px 0;
			position:relative;
		}


		&.edit-on {
			background: $lightGrey;

			position: fixed; 
			z-index: 1000000;
			top:0;

			.edit-trip-link {
				display: none;
			}

			.collaborate-trip-link{
				display: none;
			}
		}
	}

	.trip-title {
		color: $darkGrey;
		display: inline-block;
		@include sans-serif(66px);
		letter-spacing:-3px;
	}

	.trip-subtitle {
		color: $blue;
		display: inline-block;
		@include serif-italic(18px);
	}

	.collaborate-trip-link {
		color: $darkGrey;
		@include serif-italic(18px);
		display:inline-block;
		background:$lightGrey;
		@include border($lightGrey);
		padding: 7px 10px 6px;
		text-align: center;
		text-decoration: none;
		position:absolute;
		left:150px;
		bottom:18px;

		img {
			vertical-align: top;
			padding-right:5px;
		}


		&:hover {
			background:$mediumGrey;
		}
	}

	.edit-trip-link {
		color: $darkGrey;
		@include serif-italic(18px);
		display:inline-block;
		background:$lightGrey;
		@include border($lightGrey);
		padding: 7px 10px 6px;
		text-align: center;
		text-decoration: none;
		position:absolute;
		left:0;
		bottom:18px;

		img {
			vertical-align: bottom;
			padding:2px 5px 0 0;
		}


		&:hover {
			background:$mediumGrey;
		}
	}

}

.trip-settings {
	display:hidden;
	background: $lightGrey url('/images/top-inner-shadow.png') repeat-x top;
	height:0;

	.settings-button {
    	background-image: url('/images/gear-button.png');
	}
}


.notice-container {
	width:100%;
	position:absolute;
	min-height:50px;
	overflow:hidden;
	display:none;
	z-index: 100;

	.notice {
		background: #fff;
		position:relative;
		max-width: $maxWidth;
		margin:0 auto;
		top: 0;
		padding:15px 0;

		@include transition(top 0.5s ease-in);

		.notice-text {
			@include serif-italic(24px);
		}
	}

	.up {
		top:-50px;
		@include transition(none);
	}

	.down {
		top:50px;
		@include transition(top 0.25s ease-in);
	}


}

.fixed {
	position:fixed;
	top:0;
}

.sprite-button {
	background-position:left;
	&:hover {
    	background-position:right;
    }
}

.x-button {
	color: #FF0000;
	cursor:pointer;
    position: absolute;
    right: 5px;
    top: 15px;
    width:17px;
    height:16px;
    overflow:hidden;
    background-image: url('/images/x-button.png');
}

#map {
	width:100%;
	height:395px;
	max-width: 100%;
	margin:0 auto;

	&.edit-on {
		margin-top: 136px;
	}
}


#locations {

	.location {
		padding-bottom:33px;
		margin-top: 25px;
		border-bottom: 1px solid $mediumGrey;
		position:relative;

		.location-name {
			color:$darkGrey;
			@include sans-serif(36px);
		}

		.location-notes {
			min-height: 20px;
		}

		.delete-location-link {
			color: #ff0000;
			position:absolute;
			top:15px;
			right:0;
		}
	}




	.notes-wrapper {
		margin: 0;
		/*min-height:44px;*/
	}

	.notes-hidden {
		@include serif-italic(24px);
		text-align:center;
		color:$darkGrey;
		display:none;
		padding:20px 0;
	}

}

.note-category {
	width:25px;
	background-image: url('/images/category-icons.png');
	background-position: 100px;
	background-repeat: no-repeat;
	overflow:hidden;
	vertical-align: top;
	display:block;
	height:28px;

	&.poi {
		background-position:0;
	}

	&.food {
		background-position: -25px;
	}

	&.stay {
		background-position: -50px;
	}
}

.note {

	font-size:30px;
	margin: 22px 0;
	position:relative;



	.note-text-wrapper {
		vertical-align: top;
		padding-left:8px;
	}

	.note-text {
		@include serif-italic(30px);
		color:$blue;

		a {
			font-size:inherit;
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;

			&:hover {
				color: $lightBlue;
			}
		}
	}

	.note-from {
		@include serif-italic(18px);
		color:$blue;
	}

	.note-link {

		@include sans-serif(18px);

		td {
			vertical-align: middle;
		}

		.link-info {
			padding-left:16px;
		}

		.link-image {
			border:1px solid $blue;
			max-width:170px;
		}

		.link-title {
			display:inline-block;
		}
		.link-description {
			@include serif-italic(18px);
			font-weight: normal;
			display:inline-block;
			margin-top:5px;
		}
	}

	.note-delete {
		position:absolute;
		top:0;
		right:0;

		a {
			color:#ff0000;
		}
	}

}

a.add-location-link {

	@include sans-serif(14px);

	display:block;
	padding: 20px 0 18px;
	text-transform:uppercase;
	width: 300px;
	margin: 20px auto;
	text-align: center;
	color: #000;
	background:#fff;

	@include border($green);

	&:hover {
		color:$mediumGrey;
		text-decoration: none;
	}
}

.add-note {

	padding: 0 40px;

	.note-editor {
		position: relative;

	}
	.note-text-wrapper {
		text-align: center;
	}

	.txtNoteText {
		@include sans-serif(20px);
		width:100%;
		padding:0 10px;
		color:$lightGrey;

		&:focus {
			color:#000;
		}

		&.editing {
			color:#000;
		}

	}

	.note-from-wrapper {

		width:250px;
		display:inline-block;
		margin-right:24px;
		text-align:center;
	}
	.txtFromName {
		@include sans-serif(20px);
		width: auto;
	}

	.note-submit-wrapper {

		display:inline-block;
		vertical-align: top;
		position:relative;
		top: -2px;
	}

	label {
		@include serif-italic(18px);
		color:$green;
		margin:12px 0 24px;
		display:block;

		strong {
			font-weight:600;
		}
	}

	.note-text {
		@include serif-italic(30px);
		color:$blue;
	}


	.submit-note-link {
		display:inline-block;
		background:$green;
		@include border($green);
		@include sans-serif(14px);
		text-transform: uppercase;
		padding: 14px 10px 12px;
		text-align: center;
		text-decoration: none;
		color: $lightGrey;
		letter-spacing: 1px;

		&:hover {
			background:$lightGreen;
		}
	}

	.cancel-note-link {
		color: $orange;
		@include sans-serif(14px);
		text-transform: uppercase;
		padding-left:20px;
		letter-spacing: 1px;

		&:hover {
			color: $lightOrange;
		}
	}

	.note-editor-bottom {
		position:relative;
		margin-top:24px;
	}

	.category-wrapper {
	}
	.category-selector {
		position:absolute;
		left:-105px;
		top: -5px;
	}

	.category-label {
		font-size: 18px;
	    font-weight: bold;
	    padding-right: 6px;
	    position: relative;
	    top: -22px;
	}
}

.footer {
	text-align: center;
	@include sans-serif(14px);

	.spacer {
		display: inline-block;
		width:85px;
	}
}