@import 'compass/css3';

@import "base";


body {
	border:0;
	margin:0;
	padding:0;
	color: $darkBlue;
	background: $lightGrey;
	font-family:Arial, Helvetica, sans-serif;
//	@include border-radius($borderRadius);
}

.clear {
	clear:both;
}

.hidden {
	display: none;
}

a.generalButton {
	display: inline-block;
	padding: 10px;

	@include border-radius($borderRadius);

	&:hover {

	}
}

#loadBlocker {
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:#eee;
	z-index:1000000;

	.blockerContent {
		width:200px;
		margin:100px auto 0;
		height:100px;
	}
}

#modal {
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:#eee;
	z-index:100;

	.modalContent {
		width:200px;
		margin:100px auto 0;
		height:100px;
	}

}

#cls {
	display:none;
}


.siteTitle {
	max-width: $maxContentWidth;
	margin:0 auto;
}

#map {
	width:800px;
	height:200px;
}

.contentWrapper {
	max-width: $maxContentWidth;
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
}

.pageContent {
	max-width: $maxContentWidth;


	@include transition-property(left);
  	@include transition-duration(0.5s);
}

.pageRight {
	left: $contentWidth;
}
.pageLeft {
	left: -$contentWidth;
}

.editTextInput {
	border:none;

}

#header {

	color: $lightGrey;
	background: $darkBlue;
	width:100%;
	max-width: $maxWidth;
	margin:0 auto;

	.content {
		max-width: $maxContentWidth;
		margin:0 auto;
	}

	.tripTitle {
		font-size:90px;
	}
	.tripSubtitle {
		font-size:18px;
	}
}

#map {
	width:100%;
	height:395px;
	max-width: $maxWidth;
	margin:0 auto;
}


#locations {

	.location {
		padding-bottom:33px;
		border-bottom: 1px solid $darkGrey;
	}

	.locationName {
		font-size:36px;
		font-weight:bold;
	}

	.locationNotes {
		margin:0 16px;
	}


	.notesWrapper {
		margin: 0 40px;
	}

	.note {
		font-size:30px;
		margin: 22px 0;
	}

	
}

.category {
	
	.categoryHeader {
		position:relative;
	}

	.showHide {
		position:absolute;
		right:0;
	}

	.categoryName {
		font-size:18px;
	}

}

.addNote {


	.txtNoteText {
		width:100%;
		background:#fff;
		padding:16px 10px;
		border: 1px solid $lightGrey;

		@include border-radius($borderRadius);

	}

	a.addNoteLink {
		display:block;
		padding:16px 10px;
		color: $darkBlue;
		border: 1px solid $green;
		text-decoration:none;

		@include border-radius($borderRadius);
	}
	a.addNoteLink:hover {
		background-color:#fff;
	}

	a.submitNoteLink {
		display:inline-block;
		background:$green;
		height:55px;
		width:55px;
	}
}

	

