/* line 6, ../../src/scss/style.scss */
body {
  border: 0;
  margin: 0;
  padding: 0;
  color: #151633;
  background: #e8eced;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 16, ../../src/scss/style.scss */
.clear {
  clear: both;
}

/* line 20, ../../src/scss/style.scss */
.hidden {
  display: none;
}

/* line 24, ../../src/scss/style.scss */
a.generalButton {
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 35, ../../src/scss/style.scss */
#loadBlocker {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  z-index: 1000000;
}
/* line 45, ../../src/scss/style.scss */
#loadBlocker .blockerContent {
  width: 200px;
  margin: 100px auto 0;
  height: 100px;
}

/* line 52, ../../src/scss/style.scss */
#modal {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  z-index: 100;
}
/* line 62, ../../src/scss/style.scss */
#modal .modalContent {
  width: 200px;
  margin: 100px auto 0;
  height: 100px;
}

/* line 70, ../../src/scss/style.scss */
#cls {
  display: none;
}

/* line 75, ../../src/scss/style.scss */
.siteTitle {
  max-width: 960px;
  margin: 0 auto;
}

/* line 80, ../../src/scss/style.scss */
#map {
  width: 800px;
  height: 200px;
}

/* line 85, ../../src/scss/style.scss */
.contentWrapper {
  max-width: 960px;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}

/* line 92, ../../src/scss/style.scss */
.pageContent {
  max-width: 960px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 100, ../../src/scss/style.scss */
.pageRight {
  left: 960px;
}

/* line 103, ../../src/scss/style.scss */
.pageLeft {
  left: -960px;
}

/* line 107, ../../src/scss/style.scss */
.editTextInput {
  border: none;
}

/* line 112, ../../src/scss/style.scss */
#header {
  color: #e8eced;
  background: #151633;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
/* line 120, ../../src/scss/style.scss */
#header .content {
  max-width: 960px;
  margin: 0 auto;
}
/* line 125, ../../src/scss/style.scss */
#header .tripTitle {
  font-size: 90px;
}
/* line 128, ../../src/scss/style.scss */
#header .tripSubtitle {
  font-size: 18px;
}

/* line 133, ../../src/scss/style.scss */
#map {
  width: 100%;
  height: 395px;
  max-width: 1250px;
  margin: 0 auto;
}

/* line 143, ../../src/scss/style.scss */
#locations .location {
  padding-bottom: 33px;
  border-bottom: 1px solid #858390;
}
/* line 148, ../../src/scss/style.scss */
#locations .locationName {
  font-size: 36px;
  font-weight: bold;
}
/* line 153, ../../src/scss/style.scss */
#locations .locationNotes {
  margin: 0 16px;
}
/* line 158, ../../src/scss/style.scss */
#locations .notesWrapper {
  margin: 0 40px;
}
/* line 162, ../../src/scss/style.scss */
#locations .note {
  font-size: 30px;
  margin: 22px 0;
}

/* line 172, ../../src/scss/style.scss */
.category .categoryHeader {
  position: relative;
}
/* line 176, ../../src/scss/style.scss */
.category .showHide {
  position: absolute;
  right: 0;
}
/* line 181, ../../src/scss/style.scss */
.category .categoryName {
  font-size: 18px;
}

/* line 190, ../../src/scss/style.scss */
.addNote .txtNoteText {
  width: 100%;
  background: #fff;
  padding: 16px 10px;
  border: 1px solid #e8eced;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 200, ../../src/scss/style.scss */
.addNote a.addNoteLink {
  display: block;
  padding: 16px 10px;
  color: #151633;
  border: 1px solid #799b28;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 209, ../../src/scss/style.scss */
.addNote a.addNoteLink:hover {
  background-color: #fff;
}
/* line 213, ../../src/scss/style.scss */
.addNote a.submitNoteLink {
  display: inline-block;
  background: #799b28;
  height: 55px;
  width: 55px;
}
