/* line 1, ../../src/scss/_content.scss */
html, body {
  height: 100%;
}

/* line 5, ../../src/scss/_content.scss */
body {
  border: 0;
  margin: 0;
  padding: 0;
  color: #b8b8b8;
  background: #f1f1ec url("/images/bg.png");
}

/* line 14, ../../src/scss/_content.scss */
h1 {
  margin: 0;
}

/* line 20, ../../src/scss/_content.scss */
.clear {
  clear: both;
}

/* line 24, ../../src/scss/_content.scss */
.hidden {
  display: none;
}

/* line 28, ../../src/scss/_content.scss */
.none {
  color: inherit;
  font-size: inherit;
}
/* line 31, ../../src/scss/_content.scss */
.none:hover {
  color: inherit;
}

/* line 36, ../../src/scss/_content.scss */
a {
  text-decoration: none;
  color: #b8b8b8;
}
/* line 40, ../../src/scss/_content.scss */
a:hover {
  color: #799b28;
}

/* line 45, ../../src/scss/_content.scss */
.back-button {
  display: inline-block;
  padding: 16px;
  min-width: 100px;
  font-size: 18px;
  text-align: center;
  color: #e6e3e1;
  position: relative;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #b8b8b8;
}
/* line 49, ../../src/scss/_content.scss */
.back-button:hover {
  background: #a5bb77;
}

/* line 54, ../../src/scss/_content.scss */
.create-button,
.next-button {
  display: inline-block;
  padding: 16px;
  min-width: 100px;
  font-size: 18px;
  text-align: center;
  color: #e6e3e1;
  position: relative;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #799b28;
}
/* line 59, ../../src/scss/_content.scss */
.create-button:hover,
.next-button:hover {
  background: #a5bb77;
}

/* line 64, ../../src/scss/_content.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 72, ../../src/scss/_content.scss */
input[type="text"],
input[type="email"] {
  border: 0;
  background: transparent url("/images/dot.png") repeat-x bottom;
  text-align: center;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  width: 460px;
  color: #5f5c66;
  padding: 7px;
}
/* line 82, ../../src/scss/_content.scss */
input[type="text"]:focus,
input[type="email"]:focus {
  color: #000;
  outline: none;
}

/* line 89, ../../src/scss/_content.scss */
#loadBlocker {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  z-index: 1000000;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 76px;
}

/* line 103, ../../src/scss/_content.scss */
.blockerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -150px;
}

/* line 111, ../../src/scss/_content.scss */
.blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: #eee;
}

/* line 121, ../../src/scss/_content.scss */
#modal {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  text-align: center;
}

/* line 133, ../../src/scss/_content.scss */
#modalContent {
  background: #f5f5f0;
  box-shadow: 0 1px 1px 0px #999;
  display: inline-block;
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 28px;
  line-height: 35px;
  font-style: italic;
  font-weight: 600;
}

/* line 141, ../../src/scss/_content.scss */
#cls {
  display: none;
}

/* line 146, ../../src/scss/_content.scss */
#map {
  width: 800px;
  height: 200px;
}

/* line 151, ../../src/scss/_content.scss */
.contentWrapper {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

/* line 157, ../../src/scss/_content.scss */
.home-wrapper {
  max-width: 960px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 850px;
  height: 650px;
}
/* line 165, ../../src/scss/_content.scss */
.home-wrapper .trip-title {
  color: #5f5c66;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 46px;
}
/* line 170, ../../src/scss/_content.scss */
.home-wrapper .trip-subtitle {
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  font-weight: 600;
}
/* line 175, ../../src/scss/_content.scss */
.home-wrapper .email {
  color: #b8b8b8;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

/* line 180, ../../src/scss/_content.scss */
.info-header {
  width: 850px;
  text-align: left;
  margin-top: 96px;
}

/* line 186, ../../src/scss/_content.scss */
.home-page {
  width: 850px;
  position: absolute;
  text-align: center;
  left: 0px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 197, ../../src/scss/_content.scss */
.lost-link {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
}

/* line 201, ../../src/scss/_content.scss */
.error {
  border: 1px solid #ff0000 !important;
}

/* line 205, ../../src/scss/_content.scss */
.page-left {
  left: -850px;
}

/* line 208, ../../src/scss/_content.scss */
.page-current {
  left: 0px;
}

/* line 211, ../../src/scss/_content.scss */
.page-right {
  left: 850px;
}

/* line 215, ../../src/scss/_content.scss */
.editTextInput {
  border: none;
}

/* line 220, ../../src/scss/_content.scss */
input.editTextInput {
  border: 0;
  background: transparent url("/images/dot.png") repeat-x bottom;
  text-align: left;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  width: 460px;
  color: #5f5c66;
  padding: 27px;
}

/* line 234, ../../src/scss/_content.scss */
.page-header,
.start-header, .about-header {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 132px;
}
/* line 241, ../../src/scss/_content.scss */
.page-header .site-title,
.start-header .site-title, .about-header .site-title {
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 76px;
  color: #5f5c66;
  margin-bottom: 12px;
}
/* line 246, ../../src/scss/_content.scss */
.page-header .site-subtitle,
.start-header .site-subtitle, .about-header .site-subtitle {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 23px;
  line-height: 28.75px;
  font-style: italic;
  font-weight: 600;
  color: #b8b8b8;
}
/* line 251, ../../src/scss/_content.scss */
.page-header a,
.start-header a, .about-header a {
  color: inherit;
}
/* line 254, ../../src/scss/_content.scss */
.page-header a:hover,
.start-header a:hover, .about-header a:hover {
  color: #799b28;
}

/* line 261, ../../src/scss/_content.scss */
.page-header {
  margin-top: 50px;
}

/* line 265, ../../src/scss/_content.scss */
.home-form {
  text-align: center;
}
/* line 269, ../../src/scss/_content.scss */
.home-form label {
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 36px;
  line-height: 45px;
  font-style: italic;
  font-weight: 600;
  margin-top: 15px;
  display: inline-block;
}
/* line 276, ../../src/scss/_content.scss */
.home-form #txtTripName {
  width: 550px;
}
/* line 280, ../../src/scss/_content.scss */
.home-form #txtEmail {
  width: 550px;
}
/* line 284, ../../src/scss/_content.scss */
.home-form #txtLocation {
  width: 550px;
}

/* line 289, ../../src/scss/_content.scss */
.content {
  max-width: 960px;
  margin: 0 auto;
}

/* line 294, ../../src/scss/_content.scss */
.pac-container {
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  border: 0;
  padding: 5px;
  z-index: 10000000 !important;
}

/* line 300, ../../src/scss/_content.scss */
.pac-item {
  padding: 10px 0;
}

/* line 306, ../../src/scss/_content.scss */
.page-content {
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 1px;
  margin: 70px auto;
}
/* line 311, ../../src/scss/_content.scss */
.page-content h2 {
  margin-top: 34px;
}

/* line 316, ../../src/scss/_content.scss */
.about-page {
  max-width: 800px;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 600;
}

/* line 321, ../../src/scss/_content.scss */
.edit-mode.edit-off {
  display: none !important;
}

/* line 327, ../../src/scss/_content.scss */
.list-wrapper header {
  width: 100%;
}
/* line 331, ../../src/scss/_content.scss */
.list-wrapper header .header-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 35px 0 17px;
  position: relative;
}
/* line 339, ../../src/scss/_content.scss */
.list-wrapper header .header-titles {
  width: 630px;
  float: left;
}
/* line 343, ../../src/scss/_content.scss */
.list-wrapper header .header-tools {
  width: 300px;
  float: left;
  padding-top: 23px;
}
/* line 349, ../../src/scss/_content.scss */
.list-wrapper header .stripe {
  background: url("/images/stripe.png") repeat-x;
  height: 11px;
  display: block;
}
/* line 355, ../../src/scss/_content.scss */
.list-wrapper header.edit-on {
  background: #5f5c66;
  z-index: 1000000;
  top: 0;
}
/* line 363, ../../src/scss/_content.scss */
.list-wrapper header.edit-on .edit-trip-link,
.list-wrapper header.edit-on .collaborate-trip-link,
.list-wrapper header.edit-on .spacer1 {
  display: none;
}
/* line 368, ../../src/scss/_content.scss */
.list-wrapper header.edit-on .trip-title,
.list-wrapper header.edit-on .trip-subtitle {
  color: #f1f1ec;
}
/* line 374, ../../src/scss/_content.scss */
.list-wrapper .trip-title {
  color: #5f5c66;
  display: inline-block;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 66px;
  line-height: 66px;
  letter-spacing: -3px;
  padding-right: 3px;
}
/* line 383, ../../src/scss/_content.scss */
.list-wrapper .trip-subtitle {
  color: #151633;
  display: inline-block;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
}
/* line 390, ../../src/scss/_content.scss */
.list-wrapper .collaborate-trip-link {
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
  display: inline-block;
  background: #e6e3e1;
  border: 1px solid #e6e3e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 10px 6px;
  text-align: center;
  text-decoration: none;
}
/* line 400, ../../src/scss/_content.scss */
.list-wrapper .collaborate-trip-link img {
  vertical-align: top;
  padding-right: 5px;
}
/* line 406, ../../src/scss/_content.scss */
.list-wrapper .collaborate-trip-link:hover {
  background: #b8b8b8;
}
/* line 411, ../../src/scss/_content.scss */
.list-wrapper .edit-trip-link {
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
  display: inline-block;
  background: #e6e3e1;
  border: 1px solid #e6e3e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 10px 6px;
  text-align: center;
  text-decoration: none;
}
/* line 421, ../../src/scss/_content.scss */
.list-wrapper .edit-trip-link img {
  vertical-align: top;
  padding: 2px 5px 0 0;
}
/* line 427, ../../src/scss/_content.scss */
.list-wrapper .edit-trip-link:hover {
  background: #b8b8b8;
}
/* line 434, ../../src/scss/_content.scss */
.list-wrapper .add-location-button,
.list-wrapper .edit-done-button {
  display: inline-block;
  padding: 4px 23px 4px;
  min-width: 100px;
  font-size: 18px;
  text-align: center;
  color: #e6e3e1;
  position: relative;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #799b28;
}
/* line 440, ../../src/scss/_content.scss */
.list-wrapper .add-location-button:hover,
.list-wrapper .edit-done-button:hover {
  background: #a5bb77;
}

/* line 448, ../../src/scss/_content.scss */
.trip-settings {
  display: hidden;
  background: #e6e3e1 url("/images/top-inner-shadow.png") repeat-x top;
  height: 0;
}
/* line 453, ../../src/scss/_content.scss */
.trip-settings .settings-button {
  background-image: url("/images/gear-button.png");
}

/* line 459, ../../src/scss/_content.scss */
.notice-container {
  width: 100%;
  position: absolute;
  min-height: 50px;
  overflow: hidden;
  display: none;
  z-index: 100;
}
/* line 467, ../../src/scss/_content.scss */
.notice-container .notice {
  background: #fff;
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  top: 0;
  padding: 15px 0;
  -webkit-transition: top 0.5s ease-in;
  -moz-transition: top 0.5s ease-in;
  -o-transition: top 0.5s ease-in;
  transition: top 0.5s ease-in;
}
/* line 477, ../../src/scss/_content.scss */
.notice-container .notice .notice-text {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 600;
}
/* line 482, ../../src/scss/_content.scss */
.notice-container .up {
  top: -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 487, ../../src/scss/_content.scss */
.notice-container .down {
  top: 50px;
  -webkit-transition: top 0.25s ease-in;
  -moz-transition: top 0.25s ease-in;
  -o-transition: top 0.25s ease-in;
  transition: top 0.25s ease-in;
}

/* line 495, ../../src/scss/_content.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 500, ../../src/scss/_content.scss */
.sprite-button {
  cursor: pointer;
  background-position: left;
  display: inline-block;
}
/* line 504, ../../src/scss/_content.scss */
.sprite-button:hover {
  background-position: right;
}

/* line 509, ../../src/scss/_content.scss */
.x-button {
  color: #FF0000;
  position: absolute;
  right: 5px;
  top: 15px;
  width: 17px;
  height: 16px;
  overflow: hidden;
  background-image: url("/images/x-button.png");
}

/* line 520, ../../src/scss/_content.scss */
#map {
  width: 100%;
  height: 395px;
  max-width: 100%;
  margin: 0 auto;
  z-index: -1;
}
/* line 526, ../../src/scss/_content.scss */
#map.edit-on {
  margin-top: 0px;
}

/* line 531, ../../src/scss/_content.scss */
.mapContainer {
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(95, 92, 102, 0.4);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(95, 92, 102, 0.4);
  box-shadow: inset 0px 2px 2px 0px rgba(95, 92, 102, 0.4);
}

/* line 539, ../../src/scss/_content.scss */
#locations .location {
  padding-bottom: 33px;
  margin-top: 25px;
  border-bottom: 1px solid #b8b8b8;
  position: relative;
}
/* line 545, ../../src/scss/_content.scss */
#locations .location .location-name {
  color: #5f5c66;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
}
/* line 550, ../../src/scss/_content.scss */
#locations .location .location-notes {
  min-height: 20px;
}
/* line 554, ../../src/scss/_content.scss */
#locations .location .delete-location-link {
  color: #ff0000;
  position: absolute;
  top: 15px;
  right: 0;
}
/* line 562, ../../src/scss/_content.scss */
#locations .reorder-location {
  width: 16px;
  position: absolute;
  top: 4px;
  left: -25px;
  line-height: 0;
}
/* line 571, ../../src/scss/_content.scss */
#locations .reorder-location .location-down,
#locations .reorder-location .location-up {
  height: 8px;
  width: 16px;
}
/* line 575, ../../src/scss/_content.scss */
#locations .reorder-location .location-up {
  background-image: url("/images/order-up-arrow.png");
  margin-bottom: 10px;
}
/* line 579, ../../src/scss/_content.scss */
#locations .reorder-location .location-down {
  background-image: url("/images/order-down-arrow.png");
}
/* line 585, ../../src/scss/_content.scss */
#locations .notes-wrapper {
  margin: 0;
  /*min-height:44px;*/
}
/* line 590, ../../src/scss/_content.scss */
#locations .notes-hidden {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: #5f5c66;
  display: none;
  padding: 20px 0;
}

/* line 600, ../../src/scss/_content.scss */
.note-category {
  width: 25px;
  background-image: url("/images/category-icons.png");
  background-position: 100px;
  background-repeat: no-repeat;
  overflow: hidden;
  vertical-align: top;
  display: block;
  height: 28px;
}
/* line 610, ../../src/scss/_content.scss */
.note-category.poi {
  background-position: 0;
}
/* line 614, ../../src/scss/_content.scss */
.note-category.food {
  background-position: -25px;
}
/* line 618, ../../src/scss/_content.scss */
.note-category.stay {
  background-position: -50px;
}

/* line 623, ../../src/scss/_content.scss */
.note {
  font-size: 30px;
  margin: 22px 0;
  position: relative;
}
/* line 631, ../../src/scss/_content.scss */
.note .note-text-wrapper {
  vertical-align: top;
  padding-left: 8px;
}
/* line 636, ../../src/scss/_content.scss */
.note .note-text {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 30px;
  line-height: 37.5px;
  font-style: italic;
  font-weight: 600;
  color: #151633;
}
/* line 640, ../../src/scss/_content.scss */
.note .note-text a {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* line 647, ../../src/scss/_content.scss */
.note .note-text a:hover {
  color: #5f5c66;
}
/* line 653, ../../src/scss/_content.scss */
.note .note-from {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
  color: #151633;
}
/* line 658, ../../src/scss/_content.scss */
.note .note-link {
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
/* line 662, ../../src/scss/_content.scss */
.note .note-link td {
  vertical-align: middle;
}
/* line 666, ../../src/scss/_content.scss */
.note .note-link .link-info {
  padding-left: 16px;
}
/* line 670, ../../src/scss/_content.scss */
.note .note-link .link-image {
  border: 1px solid #151633;
  max-width: 170px;
}
/* line 675, ../../src/scss/_content.scss */
.note .note-link .link-title {
  display: inline-block;
}
/* line 678, ../../src/scss/_content.scss */
.note .note-link .link-description {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
  font-weight: normal;
  display: inline-block;
  margin-top: 5px;
}
/* line 686, ../../src/scss/_content.scss */
.note .note-delete {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 691, ../../src/scss/_content.scss */
.note .note-delete a {
  color: #ff0000;
}

/* line 698, ../../src/scss/_content.scss */
a.add-location-link {
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 20px 0 18px;
  text-transform: uppercase;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  color: #000;
  background: #fff;
  border: 1px solid #799b28;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 713, ../../src/scss/_content.scss */
a.add-location-link:hover {
  color: #b8b8b8;
  text-decoration: none;
}

/* line 719, ../../src/scss/_content.scss */
.add-note {
  padding: 0 40px;
}
/* line 723, ../../src/scss/_content.scss */
.add-note .note-editor {
  position: relative;
}
/* line 727, ../../src/scss/_content.scss */
.add-note .note-text-wrapper {
  text-align: center;
}
/* line 731, ../../src/scss/_content.scss */
.add-note .txtNoteText {
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  padding: 0 10px;
  color: #e6e3e1;
}
/* line 737, ../../src/scss/_content.scss */
.add-note .txtNoteText:focus {
  color: #000;
}
/* line 741, ../../src/scss/_content.scss */
.add-note .txtNoteText.editing {
  color: #000;
}
/* line 747, ../../src/scss/_content.scss */
.add-note .note-from-wrapper {
  width: 250px;
  display: inline-block;
  margin-right: 24px;
  text-align: center;
}
/* line 754, ../../src/scss/_content.scss */
.add-note .txtFromName {
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  width: auto;
}
/* line 759, ../../src/scss/_content.scss */
.add-note .note-submit-wrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -2px;
}
/* line 767, ../../src/scss/_content.scss */
.add-note label {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
  color: #799b28;
  margin: 12px 0 24px;
  display: block;
}
/* line 773, ../../src/scss/_content.scss */
.add-note label strong {
  font-weight: 600;
}
/* line 778, ../../src/scss/_content.scss */
.add-note .note-text {
  font-family: "chaparral-pro", georgia, serif;
  font-size: 30px;
  line-height: 37.5px;
  font-style: italic;
  font-weight: 600;
  color: #151633;
}
/* line 784, ../../src/scss/_content.scss */
.add-note .submit-note-link {
  display: inline-block;
  background: #799b28;
  border: 1px solid #799b28;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 14px 10px 12px;
  text-align: center;
  text-decoration: none;
  color: #e6e3e1;
  letter-spacing: 1px;
}
/* line 796, ../../src/scss/_content.scss */
.add-note .submit-note-link:hover {
  background: #a5bb77;
}
/* line 801, ../../src/scss/_content.scss */
.add-note .cancel-note-link {
  color: #f53d12;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-left: 20px;
  letter-spacing: 1px;
}
/* line 808, ../../src/scss/_content.scss */
.add-note .cancel-note-link:hover {
  color: #f0a959;
}
/* line 813, ../../src/scss/_content.scss */
.add-note .note-editor-bottom {
  position: relative;
  margin-top: 24px;
}
/* line 820, ../../src/scss/_content.scss */
.add-note .category-selector {
  position: absolute;
  left: -105px;
  top: -5px;
}
/* line 826, ../../src/scss/_content.scss */
.add-note .category-label {
  font-size: 18px;
  font-weight: bold;
  padding-right: 6px;
  position: relative;
  top: -22px;
}

/* line 836, ../../src/scss/_content.scss */
.bottomnewnotes {
  text-align: center;
  padding-top: 50px;
  color: #5f5c66;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 18px;
  line-height: 22.5px;
  font-style: italic;
  font-weight: 600;
}

/* line 849, ../../src/scss/_content.scss */
.footer {
  text-align: center;
  font-family: "pragmatica-web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  padding: 50px 0 50px 0;
}
/* line 854, ../../src/scss/_content.scss */
.footer .spacer {
  display: inline-block;
  width: 85px;
}

/* line 860, ../../src/scss/_content.scss */
#modalUnder {
  position: absolute;
  background: url("/images/f5f5f0_70.png");
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 870, ../../src/scss/_content.scss */
#modalContent {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1;
}
/* line 877, ../../src/scss/_content.scss */
#modalContent.email-modal {
  text-align: center;
  width: 620px;
  min-height: 335px;
  margin-top: -167px;
  margin-left: -310px;
}
/* line 884, ../../src/scss/_content.scss */
#modalContent.email-modal label {
  font-size: 18px;
}
/* line 892, ../../src/scss/_content.scss */
#modalContent.email-modal #oopsLink {
  color: #f53d12;
  font-size: 18px;
  line-height: 55px;
  left: 0;
  position: absolute;
}
/* line 900, ../../src/scss/_content.scss */
#modalContent.email-modal #oopsLink:hover {
  color: #f53d12;
  text-decoration: underline;
}
/* line 906, ../../src/scss/_content.scss */
#modalContent.email-modal #emailAdmin {
  font-style: normal;
  position: absolute;
  right: 0;
  font-size: 24px;
  letter-spacing: -0.5px;
}

/************** Skin 1 *********************/
/* line 2, ../../src/scss/_dd.scss */
.dd {
  /*display:inline-block !important;*/
  text-align: left;
  font-size: 21px;
  position: relative;
  display: inline-block;
}
/* line 9, ../../src/scss/_dd.scss */
.dd .ddTitle {
  padding: 14px 10px 0;
  text-indent: 0;
  cursor: pointer;
  overflow: hidden;
  font-style: italic;
  text-align: right;
  height: 28px;
  border: 1px solid #5f5c66;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 20, ../../src/scss/_dd.scss */
.dd .ddTitle:hover {
  border-color: #000;
}
/* line 24, ../../src/scss/_dd.scss */
.dd .ddTitle span.arrow {
  background: url(/images/dd_down-arrow.png) no-repeat 0 0;
  float: left;
  display: inline-block;
  width: 16px;
  height: 10px;
  cursor: pointer;
}
/* line 33, ../../src/scss/_dd.scss */
.dd .ddTitle span.ddTitleText {
  text-indent: 1px;
  overflow: hidden;
}
/* line 37, ../../src/scss/_dd.scss */
.dd .ddTitle span.ddTitleText img {
  text-align: left;
  padding: 0 2px 0 0;
  position: relative;
  top: -10px;
}
/* line 43, ../../src/scss/_dd.scss */
.dd .ddTitle img.selected {
  padding: 0 3px 0 0;
  vertical-align: top;
}
/* line 51, ../../src/scss/_dd.scss */
.dd .ddTitleText .ddlabel {
  display: none;
}
/* line 56, ../../src/scss/_dd.scss */
.dd .ddChild {
  position: absolute;
  display: none;
  margin: 0;
  width: auto;
  overflow: auto;
  overflow-x: hidden !important;
  background-color: #ffffff;
  width: 98px;
  cursor: pointer;
  border: 1px solid #5f5c66;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 69, ../../src/scss/_dd.scss */
.dd .ddChild .opta a {
  padding-left: 10px;
}
/* line 73, ../../src/scss/_dd.scss */
.dd .ddChild a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
/* line 83, ../../src/scss/_dd.scss */
.dd .ddChild a:hover {
  background-color: #799b28;
}
/* line 87, ../../src/scss/_dd.scss */
.dd .ddChild a img {
  border: 0;
  padding: 0 2px 0 0;
  vertical-align: top;
  float: right;
  padding-top: 10px;
}
/* line 94, ../../src/scss/_dd.scss */
.dd .ddChild a.selected {
  background-color: #799b28;
  color: #e6e3e1;
}
/* line 100, ../../src/scss/_dd.scss */
.dd .ddChild .ddlabel {
  float: left;
  font-family: "chaparral-pro", georgia, serif;
  font-size: 21px;
  line-height: 26.25px;
  font-style: italic;
  font-weight: 600;
  padding: 10px 5px;
  color: #151633;
  width: 50px;
  text-align: right;
  display: inline-block;
}
/* line 110, ../../src/scss/_dd.scss */
.dd .ddChild .hover {
  background: #e6e3e1;
}

/* line 117, ../../src/scss/_dd.scss */
.hidden {
  display: none;
}

/* line 119, ../../src/scss/_dd.scss */
.dd .borderTop {
  border-top: 1px solid #c3c3c3 !important;
}

/* line 120, ../../src/scss/_dd.scss */
.dd .noBorderTop {
  border-top: none 0  !important;
}

/************* use sprite *****************/
/* line 125, ../../src/scss/_dd.scss */
.dd .ddChild a.sprite, .dd .ddChild a.sprite:visited {
  background-image: url(../icons/sprite.gif);
  background-repeat: no-repeat;
  padding-left: 24px;
}

/* line 131, ../../src/scss/_dd.scss */
.dd .ddChild a.calendar, .dd .ddChild a.calendar:visited {
  background-position: 0 -404px;
}

/* line 134, ../../src/scss/_dd.scss */
.dd .ddChild a.shoppingcart, .dd .ddChild a.shoppingcart:visited {
  background-position: 0 -330px;
}

/* line 137, ../../src/scss/_dd.scss */
.dd .ddChild a.cd, .dd .ddChild a.cd:visited {
  background-position: 0 -439px;
}

/* line 140, ../../src/scss/_dd.scss */
.dd .ddChild a.email, .dd .ddChild a.email:visited {
  background-position: 0 -256px;
}

/* line 143, ../../src/scss/_dd.scss */
.dd .ddChild a.faq, .dd .ddChild a.faq:visited {
  background-position: 0 -183px;
}

/* line 147, ../../src/scss/_dd.scss */
.dd .ddChild a.games,
.dd .ddChild a.games:visited {
  background-position: 0 -365px;
}

/* line 150, ../../src/scss/_dd.scss */
.dd .ddChild a.music, .dd .ddChild a.music:visited {
  background-position: 0 -146px;
}

/* line 153, ../../src/scss/_dd.scss */
.dd .ddChild a.phone, .dd .ddChild a.phone:visited {
  background-position: 0 -109px;
}

/* line 156, ../../src/scss/_dd.scss */
.dd .ddChild a.graph, .dd .ddChild a.graph:visited {
  background-position: 0 -73px;
}

/* line 159, ../../src/scss/_dd.scss */
.dd .ddChild a.secured, .dd .ddChild a.secured:visited {
  background-position: 0 -37px;
}

/* line 162, ../../src/scss/_dd.scss */
.dd .ddChild a.video, .dd .ddChild a.video:visited {
  background-position: 0 0;
}

/*******************************/
